.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-header {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textDiv{
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  min-height: 100vh;
}
